

<mat-grid-list cols="2" rowHeight="140px">
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Primer Nombre</mat-label>
            <input matInput [value]="paciente.primerNombre">
        </mat-form-field>

        <mat-form-field style="padding-left: 6%;" appearance="fill">
            <mat-label>Segundo Nombre</mat-label>
            <input matInput [value]="paciente.segundoNombre">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Primer Apellido</mat-label>
            <input matInput [value]="paciente.primerApellido">
        </mat-form-field>

        <mat-form-field style="padding-left: 6%;" appearance="fill">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput [value]="paciente.segundoApellido">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput [value]="paciente.edad">
        </mat-form-field>

        <mat-form-field style="padding-left: 6%;" appearance="fill">
            <mat-label>Genero</mat-label>
            <input matInput [value]="paciente.genero">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput [value]="paciente.telefono">
        </mat-form-field>

        <mat-form-field style="padding-left: 6%;" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [value]="paciente.email">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Ocupacion</mat-label>
            <input matInput [value]="paciente.ocupacion">
        </mat-form-field>

        <mat-form-field style="padding-left: 6%;" appearance="fill">
            <mat-label>Departamento Recidencia</mat-label>
            <input matInput [value]="paciente.departamentoResidencia">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput [value]="paciente.direccion">
        </mat-form-field>

        <mat-form-field style="padding-left: 6%;" appearance="fill">
            <mat-label>Aseguradoraa</mat-label>
            <input matInput [value]="paciente.tipoAseguradora">
        </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
