<div class="container">
    <form class="example-form">
        <h1>Registro de Citas</h1>
    <mat-grid-list gutterSize="20px" cols="1" rowHeight="90px">
        
            <mat-grid-tile >
                <div >
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Identificacion</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha de registro</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div >
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput ></textarea>
                      </mat-form-field>
                </div>            
            </mat-grid-tile>

            <mat-grid-tile>
                <div >
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Doctor</mat-label>
                        <mat-select>
                          <mat-option value="Masculino">
                            Masculino
                          </mat-option>
                          <mat-option value="Femenino">
                            Femenino
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>

                    <div>
                        <button mat-raised-button color="primary">Guardar</button>
                    </div>
                    <div style="padding-left: 3%;">
                        <button mat-raised-button color="warn"> Cancelar </button>
                    </div>
            </mat-grid-tile>
   
    </mat-grid-list>
</form>
    

    

    
    
</div>
