<h1 mat-dialog-title>Ingrese una contraseña </h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput
    [(ngModel)]="password" (ngModelChange)="validarPassword($event)"
    id="password" name="password"
    >
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Repita la contraseña</p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput 
      [(ngModel)]="password2"
      (ngModelChange)="validarPassword($event)"
      id="password1" name="password1"
      >
    </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="password" color="primary" cdkFocusInitial  [disabled]="passwordValidate == false" >Ok</button>
</div>
