
<div *ngIf="login == false; else loginn">
  <app-login (eventoRegister)="login = true"></app-login> 
</div>
 
<ng-template #loginn>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-accordion class="example-headers-align">
        <div *ngFor="let modulo of usuario.modulos">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{modulo.nombre}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let programa of modulo.programas">
              <a [routerLink]="programa.ruta" style="padding-left: 4%;">{{programa.nombre}}</a>
            </div>
            
          </mat-expansion-panel>
        </div>
        
      </mat-accordion>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <body>
        <app-nav-menu (eventoMenu)="drawer.toggle()"></app-nav-menu>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </body> 
    </div>
  
  </mat-drawer-container>
</ng-template>

 
