<div class="container">
    <mat-grid-list gutterSize="20px" cols="1" rowHeight="120px">
        <form>

                    <mat-grid-tile > 
                        <div>
                            <mat-form-field  >
                                <mat-label>Identificacion</mat-label>
                                <input matInput [(ngModel)]="doctor.identificacion" name="identificacion" 
                                    id="identificacion">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field  style="padding-left: 5%;">
                                <mat-label>Primer Nombre</mat-label>
                                <input [(ngModel)]="doctor.primerNombre" matInput name="firstName"
                                id="firstName">
                            </mat-form-field>
                        </div>
                        <div style="padding-left: 5%;">
                            <mat-form-field  >
                                <mat-label>Segundo Nombre</mat-label>
                                <input [(ngModel)]="doctor.segundoNombre" matInput name="segundoNombre"
                                id="segundoNombre">
                            </mat-form-field>
                        </div>
            
                        <div style="padding-left: 5%;">
                            <mat-form-field  >
                                <mat-label>Primer Apellido</mat-label>
                                <input [(ngModel)]="doctor.primerApellido"  matInput name="lastName"
                                id="lastName">
                            </mat-form-field>
                        </div>
            
                        <div style="padding-left: 5%;">
                            <mat-form-field  >
                                <mat-label>Segundo Apellido</mat-label>
                                <input [(ngModel)]="doctor.segundoApellido" matInput name="segundoApellido"
                                id="segundoApellido">
                            </mat-form-field>
                        </div>
                        
                    
                    </mat-grid-tile>
                    <mat-grid-tile >
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input [(ngModel)]="doctor.fechaNacimiento" matInput [matDatepicker]="picker"
                                name="fecha" id="fecha">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div style="padding-left: 5%;">
                            <mat-form-field appearance="fill">
                                <mat-label>Especialidad</mat-label>
                                <mat-select [(ngModel)]="especialidad" name="especialidad" id="especialidad">
                                  <mat-option value="Masculino" [value]="especialidad" *ngFor="let especialidad of especialidades">
                                    {{especialidad.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div style="padding-left: 5%;">
                            <mat-form-field  >
                                <mat-label>Codigo</mat-label>
                                <input [(ngModel)]="doctor.codigo" matInput name="codigo" id="codigo">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>


                        
                    <mat-grid-tile>


                    
                        <div>
                            <button (click)="guardar()" mat-raised-button color="primary">Guardar</button>
                        </div>
                        <div style="padding-left: 3%;">
                            <button mat-raised-button color="warn"> Cancelar </button>
                        </div>
                    </mat-grid-tile>
        </form>
      </mat-grid-list>
</div>
